Repository amoebaOfDoom/Mosaic, pull requests merged in 2024-01, with the labels that each got.

#128 Green Brin fixes
  Projects/GreenBrinstar/Export/Rooms/BLUE BRINSTAR ENERGY TANK ROOM.xml
  Projects/GreenBrinstar/Export/Rooms/CONSTRUCTION ZONE.xml
  Projects/GreenBrinstar/Export/Rooms/DRAYGON BOSS DOOR.xml
  Projects/GreenBrinstar/Export/Rooms/KRAID BOSS DOOR.xml
  Projects/GreenBrinstar/Export/Rooms/LANDING SITE.xml
  Projects/GreenBrinstar/Export/Rooms/MARIDIA MAIN STREET.xml
  Projects/GreenBrinstar/Export/Rooms/MORPH BALL ROOM.xml
  Projects/GreenBrinstar/Export/Rooms/WASTELAND.xml
Labels: Green Brinstar theme

#134 Some first rooms for West Maridia theme
  Projects/Base/Data/Tileset/SCE/0B.xml
  Projects/Base/Export/Tileset/SCE/0B/16x16tiles.ttb
  Projects/Base/Export/Tileset/SCE/0B/8x8tiles.gfx
  Projects/UpperNorfair/Data/RoboTile/UpperNorfair.lua
  Projects/WestMaridia/Data/RoboTile/WestMaridiaThin.lua
  Projects/WestMaridia/Export/Rooms/BUSINESS CENTER.xml
  Projects/WestMaridia/Export/Rooms/CATHEDRAL ENTRANCE.xml
  Projects/WestMaridia/Export/Rooms/CATHEDRAL.xml
  Projects/WestMaridia/Export/Rooms/ICE BEAM ACID ROOM.xml
  Projects/WestMaridia/Export/Rooms/ICE BEAM GATE ROOM.xml
  Projects/WestMaridia/Export/Rooms/ICE BEAM ROOM.xml
  Projects/WestMaridia/Export/Rooms/ICE BEAM SNAKE ROOM.xml
  Projects/WestMaridia/Export/Rooms/ICE BEAM TUTORIAL ROOM.xml
Labels: West Maridia theme

#135 More West Maridia theme
  Projects/Base/Data/Tileset/SCE/0B.xml
  Projects/Base/Export/Tileset/SCE/0B/16x16tiles.ttb
  Projects/Base/Export/Tileset/SCE/0B/8x8tiles.gfx
  Projects/WestMaridia/Data/RoboTile/WestMaridiaThin.lua
  Projects/WestMaridia/Export/Rooms/ACID SNAKES TUNNEL.xml
  Projects/WestMaridia/Export/Rooms/BUBBLE MOUNTAIN.xml
  Projects/WestMaridia/Export/Rooms/BUBBLE MOUNTIAN BAT ROOM.xml
  Projects/WestMaridia/Export/Rooms/CROCOMIRE ESCAPE.xml
  Projects/WestMaridia/Export/Rooms/CROCOMIRE SPEEDWAY.xml
  Projects/WestMaridia/Export/Rooms/CRUMBLE SHAFT.xml
  Projects/WestMaridia/Export/Rooms/DOUBLE CHAMBER.xml
  Projects/WestMaridia/Export/Rooms/ELEVATOR TO LOWER NORFAIR.xml
  Projects/WestMaridia/Export/Rooms/GRAPPLE BEAM ROOM.xml
  Projects/WestMaridia/Export/Rooms/GRAPPLE JUMP CAVERN.xml
  Projects/WestMaridia/Export/Rooms/GRAPPLE TUTORIAL ROOM 1.xml
  Projects/WestMaridia/Export/Rooms/GRAPPLE TUTORIAL ROOM 2.xml
  Projects/WestMaridia/Export/Rooms/GRAPPLE TUTORIAL ROOM 3.xml
  Projects/WestMaridia/Export/Rooms/GREEN BUBBLES MISSILE ROOM.xml
  Projects/WestMaridia/Export/Rooms/HI JUMP ENERGY TANK ROOM.xml
  Projects/WestMaridia/Export/Rooms/HIGH JUMP ROOM.xml
  Projects/WestMaridia/Export/Rooms/KRONIC BOOST ROOM.xml
  Projects/WestMaridia/Export/Rooms/LAVA DIVE ROOM.xml
  Projects/WestMaridia/Export/Rooms/MAGDOLLITE TUNNEL.xml
  Projects/WestMaridia/Export/Rooms/NORFAIR RESERVE TANK.xml
  Projects/WestMaridia/Export/Rooms/POST CROCOMIRE FARMING ROOM.xml
  Projects/WestMaridia/Export/Rooms/POST CROCOMIRE MISSILE ROOM.xml
  Projects/WestMaridia/Export/Rooms/POST CROCOMIRE POWER BOMB ROOM.xml
  Projects/WestMaridia/Export/Rooms/POST CROCOMIRE SHAFT.xml
  Projects/WestMaridia/Export/Rooms/PURPLE REFILL ROOM.xml
  Projects/WestMaridia/Export/Rooms/PURPLE SHAFT.xml
  Projects/WestMaridia/Export/Rooms/RED PIRATE SHAFT.xml
  Projects/WestMaridia/Export/Rooms/RISING TIDE.xml
  Projects/WestMaridia/Export/Rooms/SINGLE CHAMBER.xml
  Projects/WestMaridia/Export/Rooms/SPEEDBOOSTER HALL.xml
  Projects/WestMaridia/Export/Rooms/SPEEDBOOSTER ROOM.xml
  Projects/WestMaridia/Export/Rooms/SPEEDBOOSTER RUBBLE HALLWAY.xml
  Projects/WestMaridia/Export/Rooms/SPIKY ACID SNAKES TUNNEL.xml
  Projects/WestMaridia/Export/Rooms/SPIKY PLATFORMS TUNNEL.xml
  Projects/WestMaridia/Export/Rooms/UPPER NORFAIR FARMING ROOM.xml
  Projects/WestMaridia/Export/Rooms/VOLCANO ROOM.xml
  Projects/WestMaridia/Export/Rooms/WAVE BEAM ROOM.xml
Labels: West Maridia theme

#137 LANDING SITE, etc.
  Projects/Base/Data/Tileset/SCE/0B.xml
  Projects/Base/Export/Tileset/SCE/0B/16x16tiles.ttb
  Projects/Base/Export/Tileset/SCE/0B/8x8tiles.gfx
  Projects/WestMaridia/Data/RoboTile/WestMaridiaThick.lua
  Projects/WestMaridia/Export/Rooms/CRATERIA LAKE.xml
  Projects/WestMaridia/Export/Rooms/CRATERIA TUBE.xml
  Projects/WestMaridia/Export/Rooms/LANDING SITE.xml
Labels: West Maridia theme

#138 Lower norfair finish
  Projects/Base/Data/Tileset/SCE/04.xml
  Projects/Base/Export/Tileset/SCE/04/16x16tiles.ttb
  Projects/WreckedShip/Export/Rooms/AMPHITHEATRE.xml
  Projects/WreckedShip/Export/Rooms/DRAGON ROCK.xml
  Projects/WreckedShip/Export/Rooms/FAST PILLARS SETUP ROOM.xml
  Projects/WreckedShip/Export/Rooms/FAST RIPPER ROOM.xml
  Projects/WreckedShip/Export/Rooms/GOLDEN CHOZO STATUE.xml
  Projects/WreckedShip/Export/Rooms/LOWER NORFAIR MAIN HALL.xml
  Projects/WreckedShip/Export/Rooms/LOWER NORFAIR MAZE ROOM.xml
  Projects/WreckedShip/Export/Rooms/LOWER NORFAIR POWER BOMB.xml
  Projects/WreckedShip/Export/Rooms/MICKEY MOUSE.xml
  Projects/WreckedShip/Export/Rooms/NINJA PIRATES BOSS ROOM.xml
  Projects/WreckedShip/Export/Rooms/PILLAR ROOM.xml
  Projects/WreckedShip/Export/Rooms/PLOWERHOUSE ROOM.xml
  Projects/WreckedShip/Export/Rooms/RED KEYHUNTER SHAFT.xml
  Projects/WreckedShip/Export/Rooms/RIDLEY BOSS DOOR.xml
  Projects/WreckedShip/Export/Rooms/SCREW ATTACK ROOM.xml
  Projects/WreckedShip/Export/Rooms/THE WORST ROOM IN THE GAME.xml
  Projects/WreckedShip/Export/Rooms/THREE MUSKATEERS ROOM.xml
  Projects/WreckedShip/Export/Rooms/WASTELAND.xml
Labels: Wrecked Ship theme

#146 Add Tileset symlink
  .gitignore
  Projects/LowerNorfair/Data/RoboTile/Common.lua
  Projects/LowerNorfair/Data/RoboTile/UpperNorfair.lua
  Projects/LowerNorfair/Data/Tileset
  Projects/WestMaridia/Data/RoboTile/Common.lua
  Projects/WestMaridia/Data/Tileset
Labels: West Maridia theme

#147 Some fixes
  Projects/GreenBrinstar/Export/Rooms/CRATERIA POWER BOMB ROOM.xml
  Projects/InnerCrateria/Export/Rooms/DRAYGON BOSS DOOR.xml
  Projects/InnerCrateria/Export/Rooms/EAST CACTUS ALLEY.xml
  Projects/UpperNorfair/Export/Rooms/ELEVATOR TO BLUE BRINSTAR.xml
  Projects/UpperNorfair/Export/Rooms/LANDING SITE.xml
  Projects/UpperNorfair/Export/Rooms/PUFFER MOUNTIAN.xml
  Projects/UpperNorfair/Export/Rooms/THREE MUSKATEERS ROOM.xml
  Projects/UpperNorfair/Export/Rooms/XRAY GAUNTLET.xml
  Projects/WreckedShip/Export/Rooms/CATAPILLER ROOM.xml
  Projects/WreckedShip/Export/Rooms/CRAB TUNNEL.xml
  Projects/WreckedShip/Export/Rooms/DRAYGON BOSS DOOR.xml
  Projects/WreckedShip/Export/Rooms/GREEN PIRATES SHAFT.xml
  Projects/WreckedShip/Export/Rooms/MAP FLYWAY.xml
  Projects/WreckedShip/Export/Rooms/PARLOR AND ALCATRAZ.xml
  Projects/WreckedShip/Export/Rooms/SPORE SPAWN REFILL ROOM.xml
Labels: Green Brinstar theme, Upper Norfair theme, Inner Crateria theme, Wrecked Ship theme
