Repository amoebaOfDoom/Mosaic, pull requests merged in 2025-03, with the labels that each got.

#361 Fix some tile priorities
  Projects/Base/Export/Tileset/SCE/08/16x16tiles.ttb
  Projects/BlueBrinstar/Export/Rooms/ALPHA POWER BOMB ROOM.xml
  Projects/BlueBrinstar/Export/Rooms/BELOW SPAZER.xml
  Projects/BlueBrinstar/Export/Rooms/BETA POWER BOMB ROOM.xml
  Projects/BlueBrinstar/Export/Rooms/BIG PINK.xml
  Projects/BlueBrinstar/Export/Rooms/BOTWOON HALLWAY.xml
  Projects/BlueBrinstar/Export/Rooms/BRINSTAR PRE MAP TRAP.xml
  Projects/BlueBrinstar/Export/Rooms/BUSINESS CENTER.xml
  Projects/BlueBrinstar/Export/Rooms/CATAPILLER ROOM.xml
  Projects/BlueBrinstar/Export/Rooms/CRAB SHAFT.xml
  Projects/BlueBrinstar/Export/Rooms/EARLY SUPER ROOM.xml
  Projects/BlueBrinstar/Export/Rooms/ETECOON SUPER ROOM.xml
  Projects/BlueBrinstar/Export/Rooms/HALFIE ROOM.xml
  Projects/BlueBrinstar/Export/Rooms/HOPPER ENERGY TANK ROOM.xml
  Projects/BlueBrinstar/Export/Rooms/ICE BEAM GATE ROOM.xml
  Projects/BlueBrinstar/Export/Rooms/ICE BEAM ROOM.xml
  Projects/BlueBrinstar/Export/Rooms/ICE BEAM SNAKE ROOM.xml
  Projects/BlueBrinstar/Export/Rooms/KRAID BOSS DOOR.xml
  Projects/BlueBrinstar/Export/Rooms/KRAID HIDEOUT ENTRANCE.xml
  Projects/BlueBrinstar/Export/Rooms/LAVA DIVE ROOM.xml
  Projects/BlueBrinstar/Export/Rooms/MARIDIA TRANSIT TUBE.xml
  Projects/BlueBrinstar/Export/Rooms/MINI KRAID HALLWAY.xml
  Projects/BlueBrinstar/Export/Rooms/PINK BRINSTAR POWER BOMB ROOM.xml
  Projects/BlueBrinstar/Export/Rooms/PLOWERHOUSE ROOM.xml
  Projects/BlueBrinstar/Export/Rooms/RED BRINSTAR BAT ROOM.xml
  Projects/BlueBrinstar/Export/Rooms/RED BRINSTAR SHAFT.xml
  Projects/BlueBrinstar/Export/Rooms/SPAZER BEAM ROOM.xml
  Projects/BlueBrinstar/Export/Rooms/SPRING BALL ROOM.xml
  Projects/BlueBrinstar/Export/Rooms/THE FIRST MISSILE.xml
  Projects/BlueBrinstar/Export/Rooms/VARIA SUIT ROOM.xml
  Projects/BlueBrinstar/Export/Rooms/WATERWAY.xml
  Projects/BlueBrinstar/Export/Rooms/WEST OCEAN.xml
  Projects/BlueBrinstar/Export/Rooms/XRAY GAUNTLET.xml
  src/fix_blue_brin_priority.py
Labels: Blue Brinstar theme

#366 Update Blue Brinstar palettes
  Projects/Base/Export/Tileset/SCE/08/palette.snes
  Projects/CrateriaPalette/Export/Tileset/SCE/08/palette.snes
  Projects/MaridiaPalette/Export/Tileset/SCE/08/palette.snes
  Projects/NorfairPalette/Export/Tileset/SCE/08/palette.snes
  Projects/TourianPalette/Export/Tileset/SCE/08/palette.snes
  Projects/WreckedShipPalette/Export/Tileset/SCE/08/palette.snes
Labels: Blue Brinstar theme

#368 more ws rooms and new tiles
  Projects/Base/Data/Tileset/SCE/07.xml
  Projects/Base/Export/Tileset/SCE/07/16x16tiles.ttb
  Projects/Base/Export/Tileset/SCE/07/8x8tiles.gfx
  Projects/WarehouseBrinstar/Export/Rooms/ATTIC MISSILE ROOM.xml
  Projects/WarehouseBrinstar/Export/Rooms/ATTIC.xml
  Projects/WarehouseBrinstar/Export/Rooms/ELECTRIC DEATH ROOM.xml
  Projects/WarehouseBrinstar/Export/Rooms/SPIKY DEATH ROOM.xml
  Projects/WarehouseBrinstar/Export/Rooms/WRECKED SHIP ENTRANCE.xml
  Projects/WarehouseBrinstar/Export/Rooms/WRECKED SHIP MAIN SHAFT.xml
Labels: WarehouseBrinstar theme

#377 A few fixes for CRE and Outline
  Projects/Base/Export/Tileset/CRE/00/16x16tiles.ttb
  Projects/Base/Export/Tileset/SCE/20/16x16tiles.ttb
  Projects/Outline/Export/Rooms/ELEVATOR TO LOWER NORFAIR.xml
  Projects/Outline/Export/Rooms/ELEVATOR TO MARIDIA.xml
  Projects/Outline/Export/Rooms/ELEVATOR TO RED BRINSTAR.xml
  src/write_outline_backgrounds.py
Labels: Outline theme
